<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= project.details %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= project.supervisor %>
  </p>

  <p>
    <strong>Teams:</strong>
    <%= project.teams %>
  </p>

</div>
